
{% extends "index.html" %}


{% block menu %}
<ul>
  <a href="/"><li> Inicio </li></a>
  <a href="/aparcamientos"><li> Todos </li></a>
  <a href="/about"><li> About </li></a>
  <a href="/{{user.username}}"><li>Página personal</li></a>
  <a href="/{{user.username}}/xml"><li>XML usuario</li></a>
  <a href="/rss"><li>Canal RSS </li></a>
  <a href="/visitados"><li>Más visitados</li></a>
</ul>
{% endblock %}


{% block contenido %}

  <div id="primarycontent">
    <br/><br/>
    <h1>Práctica realizada por Sergio Cobos Manjavacas</h1><br/>
    <h4>Doble Grado Ingeniería en Tecnologías de la Telecomunicación e
      Ingeniería Aeroespacial en Aeronavegación</h4><br/><br/>

    <p> Esta aplicación web aglutina información sobre aparcamientos en la ciudad de Madrid.<br/>
      Descarga dicha información en formato XML del portal de datos abiertos de Madrid y, asi,
      los ofrece a los usuarios para que puedan seleccionar aquellos que les parecen más
      interesantes.<br/> Además todo aquel que se cree una cuenta personal en la aplicación
      podrá comentar sobre los aparcamientos que quiera y también tienen la posibilidad de
      personalizar el estilo de la página,cambiando el color de fondo y la letra y elegir el
      título de su página personal. También es posible filtrar los aparcamientos por distrito,
      y activar los que son accesibles. Por último es posible dar like a los mismos. </p>
      <br/><p>Como funcionalidad optativa, se incluye la inclusión del favicon, el formulario
      para poner comentarios. </p>
  </div>

{% endblock %}
