
{% extends "index.html" %}


{% block menu %}
<ul>
  <a href="/"><li> Inicio </li></a>
  <a href="/aparcamientos"><li> Todos </li></a>
  <a href="/{{user.username}}"><li>Página personal</li></a>
  <a href="/about"><li> About </li></a>
  <a href="/{{user.username}}/xml"><li>XML</li></a>
</ul>
{% endblock %}


{% block contenido %}

  <div id="primarycontent">
    <br/><br/>
    <h1>Práctica realizada por Sergio Cobos Manjavacas</h1><br/>
    <h4>Doble Grado Ingeniería en Tecnologías de la Telecomunicación e
      Ingeniería Aeroespacial en Aeronavegación</h4><br/><br/>

    <p> Esta aplicación web aglutina información sobre aparcamientos en la ciudad de Madrid.<br/>
      Descarga dicha información en formato XML del portal de datos abiertos de Madrid y, asi,
      los ofrece a los usuarios para que puedan seleccionar aquellos que les parecen más
      interesantes o que se ajusta más a sus necesidades. <br/> Además todo aquel que se cree una
      cuenta personal en la aplicación podrá comentar sobre los aparcamientos que quiera.
      <br/>Los usuarios registrados también tienen la posibilidad de personalizar el estilo de la página,
       cambiando el color de fondo y la letra.</p>
      <br/><p>Como funcionalidad optativa, se incluye un canal RSS con los comentarios puestos en
        cada aparcamiento, la posibilidad de darle a 'Me gusta' a un aparcamiento, un contador de visitas
        para saber cual es el aparcamiento más visitado, pulsando a la opción 'Ranking' del menú horizontal,
        y un canal XML para los contenidos que se muestran en la página principal además de la inclusión
       del favicon</p>
  </div>

{% endblock %}
