{% load staticfiles %}
<!DOCTYPE html>

<html>
<head>
	<meta charset="utf-8">
	<link href="templates/styles.css" rel="stylesheet" type="text/css">
	<link rel="icon" type="image/jpg" href="templates/images/favicon.jpg" />
</head>

<body>
  <title> Bienvenido a AparcaMadrid! </title>

  <div id="upbg"></div>

  <div id="outer">


  	<div id="header">
  		<div id="headercontent">
  			<h1>AparcaMadrid!</h1>
			<img src="templates/images/logo_parking.jpg"/><sup><b>Encuentra el mejor de tu zona!</b></sup>
  		</div>
  	</div>


    <!--parte de arriba a la derecha-->
	 <div id="arriba_dcha">
      {% if user.is_authenticated %}
        <p>Bienvenid@, {{user.username}}!</p>
        <a href="/logout"><input type="button" value="Logout" /></a>
      {% else %}
        <form method="POST" action="/login">
        {% csrf_token %}
        Usuario: <input type="username" name="username" /><br/>
        Clave: <input type="password" name="password" /><br/>
        <input type="submit" value="Login" />
        </form>
      {% endif %}
    </div>


    <div id="headerpic"></div>

    <!--parte del menu horizontal-->
    <div id="menu">
      {% block menu %} {% endblock %}
    </div>



    <!--esta es la parte que cambia segun la pagina-->
    <div id="contenido">
      {% block contenido %} {% endblock %}
    </div>

    <!--pie de pagina-->
    <div id="pie_pagina">
      Esta aplicacion utiliza datos del portal de datos abiertos de la ciudad de Madrid
      <br/>
      <a href="http://datos.madrid.es/portal/site/egob/menuitem.c05c1f754a33a9fbe4b2e4b284f1a5a0/?vgnextoid=e84276ac109d3410VgnVCM2000000c205a0aRCRD&vgnextchannel=374512b9ace9f310VgnVCM100000171f5a0aRCRD&vgnextfmt=default">Enlace a la descripcion</a>
      <a href="http://datos.munimadrid.es/portal/site/egob/menuitem.ac61933d6ee3c31cae77ae7784f1a5a0/?vgnextoid=00149033f2201410VgnVCM100000171f5a0aRCRD&format=xml&file=0&filename=202584-0-aparcamientos-residentes&mgmtid=e84276ac109d3410VgnVCM2000000c205a0aRCRD&preview=full">Enlace al fichero XML</a>
    </div>
  </div>
</body>
