{% extends "index.html" %}


{% block menu %}
<ul>
   <a href="/aparcamientos"><li> Todos </li></a>
   <a href="/about"><li> About </li></a>
   <a href="/{{user.username}}"><li>Página personal</li></a>
   <a href="/{{user.username}}/xml"><li>XML usuario</li></a>
</ul>
{% endblock %}


{% block contenido %}

<div id="primarycontainer">
   {% if cargar %}
      <form method="post" action="/">
           <input class="cargar" type="submit" value="Cargar aparcamientos" name="cargar">
      </form>
   {% else %}
      <h2>Aparcamientos más comentados:</h2>
      {% for comentado in aparcamientos_comentados %}
           {% if comentado.num_com > 0 %}
               <h1><a href="{{ comentado.contentUrl }}">{{ comentado.nombre }}
               </a></h1><p>{{ comentado.claseVial }} {{ comentado.nombreVia }},
               {{ comentado.num}} {{ comentado.codigoPostal }} {{ comentado.localidad}}</p>
               <p class="date">
               <a href="/aparcamientos/{{ comentado.idEntidad }}">Más información
               </a></p><br />
           {% endif %}
      {% endfor %}
   {% endif %}
</div>

<div id="secondarycontent">
  <div>
    <br/><br/>
    <div class="box" style="text-align:center">
      <h4>Páginas de otros usuarios:</h4>
      <div class="contentarea">
        <ul class="linklist">
          {% for titulo, usuario in lista_titulos %}
            {% if usuario != user.username %}
              <li>
                <a href="/{{usuario}}">{{usuario}}&nbsp--&nbsp{{titulo | safe}}</a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>

      <h2>Botón de accesibilidad</h2>
         {% if accesibilidad %}
             <p>Pulse si solo desea ver los aparcamientos accesibles</p>
             <form method="post" action="/">
                <input type="submit" value="Desactivar" name="boton">
             </form>
         {% else %}
             <p>Pulse si solo desea ver los aparcamientos accesibles</p>
             <form method="post" action="/">
                <input type="submit" value="Activar" name="boton">
             </form>
         {% endif %}
    <hr />
    </div>
  </div>
</div>


{% endblock %}
