{% extends "index.html" %}


{% block menu %}
<ul>
  <a href="/"><li> Inicio </li></a>
  <a href="/aparcamientos"><li> Todos </li></a>
  <a href="/about"><li> About </li></a>
  <a href="/{{user.username}}"><li>Página personal</li></a>
  <a href="/{{user.username}}/xml"><li>XML</li></a>
</ul>
{% endblock %}


{% block contenido %}


<div id="normalcontent">
   <h2>Aparcamientos seleccionados:</h2>
   {% for elegido in elegidos|slice:":5" %}
      <h1><a href="{{ elegido.aparcamiento.contentUrl }}">{{elegido.aparcamiento.nombre }}</a></h1>
      <p>{{ elegido.aparcamiento.claseVial }} {{ elegido.aparcamiento.nombreVia }},
      {{ elegido.aparcamiento.num}}</p>
      <p class="date">
      <a href="/aparcamientos/{{ elegido.aparcamiento.idEntidad }}">Más información</a></p>
      <p>Seleccionado en: {{ elegido.fecha}}</p>
      <br /><br />
      <!--Para saber por qué pasada vamos-->
      {% if forloop.counter == 5 and not fin %}
           <p class="mas"><a href="{{ elegido.usuario }}?{{elegido.id }}">
           Mostrar más aparcamientos</a></p>
      {% endif %}
   {% endfor %}
</div>

<div id = "primarycontent">
   {% if usuario == "" or usuario.titulo == "" %}
      <h2>"Página de {{ usu }}"</h2>
   {% else %}
      <h2>"{{ usuario.titulo }}"</h2>
   {% endif %}
   <hr />


   {% if usu == user.username %}
      <div class="box">
       <h4>Ponle título a tu página!</h4>
       <form method="POST" action="/cambiar_titulo">
       {% csrf_token %}
       <input type="text" name="titulo" /><br/>
       <input type="submit" value="Cambiar" />
       </form>
     </div>
     <div class="box">
       <h4>¿Desea cambiar el estilo?</h4>
       <form action="/templates/styles.css" method="post">
       {% csrf_token %}
       <p>Color de fondo:</p>
       <select name="color">
         <option>PorDefecto</option>
         <option value="red">Rojo</option>
         <option value="blue">Azul</option>
         <option value="green">Verde</option>
         <option value="yellow">Amarillo</option>
         <option value="pink">Rosa</option>
         <option value="purple">Morado</option>
         <option value="black">Negro</option>
         <option value="grey">Gris</option>
         <option value="#48D1CC">Turquesa</option>
         <option value="brown">Marrón</option>
         <option value="beige">Beige</option>
         <option value="#8A2BE2">Violeta</option>
         <option value="#87CEFA">Cielo</option>
         <option value="#00FF00">Lima</option>
       </select>
       <br/><br/>
       <p>Tamaño de letra:</p>
       <select name="letra">
         <option>PorDefecto</option>
         <option>0.3em</option>
         <option>0.5em</option>
         <option>0.8em</option>
         <option>1.0em</option>
         <option>1.5em</option>
         <option>2.0em</option>
         <option>2.5em</option>
         <option>3.0em</option>
       </select>
       <br/><br/>
       <input type="submit" value="Cambiar">
       </form>
     </div>
   {% endif %}

{% endblock %}
