{% extends "index.html" %}


{% block menu %}
<ul>
   <a href="/aparcamientos"><li> Todos </li></a>
   <a href="/about"><li> About </li></a>
   <a href="/{{user.username}}"><li>Página personal</li></a>
   <a href="/{{user.username}}/xml"><li>XML</li></a>
</ul>
{% endblock %}


{% block contenido %}

<div id="primarycontainer">
   <br/><h3><center><em><u>Aparcamientos más comentados</u></em></center></h3><br/>
   <div id="primarycontent">
      <h1>LISTA DE LOS 5 APARCAMIENTOS MÁS COMENTADOS</h1>
         <ul>
         {%for aparca in aparcamientos_populares%}
            <li><a href={{aparca.url}} ><strong>{{aparca.nombre}}</strong></a>
                  <h4>Distrito: {{aparca.distrito}} | Barrio: {{aparca.barrio}}</h4>
                  <p>{{aparca.descripcion}}</p>
            </li>
         {%empty%}
             <h2>NO HAY COMENTARIOS EN NINGUN APARCAMIENTO</h2>
                  <p>¡Sé el primero en comentar uno de ellos!</p>
         <div class="divider2"></div>
         {%endfor%}

       </div>



        <p>Si desea cargar el XML con el contenido de esta pagina&nbsp<a href="/ppal_xml">pulse aquí</a></p>

      <h2>No hay ningun aparcamiento con comentarios</h2>
    
  </div>
</div>

<div id="secondarycontent">
  <div>
    <br/><br/>
    <div class="box" style="text-align:center">
      <h4>Páginas de otros usuarios:</h4>
      <div class="contentarea">
        <ul class="linklist">
          {% for titulo, usuario in lista_titulos %}
            {% if usuario != user.username %}
              <li>
                <a href="/{{usuario}}">{{usuario}}&nbsp--&nbsp{{titulo | safe}}</a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
      <h2>Botón de accesibilidad</h2>
        {% if accesibilidad %}
            <p>Pulse para ver los aparcamientos accesibles</p>
            <form method="post" action="/">
                <input type="submit" value="Desactivar" name="boton">
            </form>
        {% else %}
            <p>Pulse para ver los aparcamientos accesibles</p>
            <form method="post" action="/">
                <input type="submit" value="Activar" name="boton">
            </form>
        {% endif %}
    <hr />
    </div>
  </div>
</div>


{% endblock %}
