{% extends "index.html" %}

{% block menu %}
<ul>
  <a href="/"><li> Inicio </li></a>
  <a href="/aparcamientos"><li> Todos </li></a>
  <a href="/{{user.username}}"><li>Página personal</li></a>
  <a href="/about"><li> About </li></a>
  <a href="/{{user.username}}/xml"><li>XML</li></a>
</ul>
{% endblock %}


{% block contenido %}

  <div id="primarycontainer">
    <br/><h3><center><em><u>Aparcamientos seleccionados</u></em></center></h3><br/>
    <br/><br/>
    <div id="primarycontent">
      {% for aparcamiento in aparcamientos %}
          <h1>{{ aparcamiento.nombre }}</h1>
          <p><a href="/aparcamientos/{{ aparcamiento.idEntidad }}">
          Pulse aquí para ver su página</a></p><br /><br />
          {% if user.is_authenticated %}
              {% if aparcamiento.id not in elegidos %}
                  <form class="eleccion" method="post" action="/aparcamientos">
                      <!-- Mostrar un valor diferente del que se envía con un botón: -->
                      <!-- http://stackoverflow.com/questions/5701831/input-type-button-label-vs-value -->
                      <button type="submit" name="marcar"
                      value="{{ aparcamiento.idEntidad }},{{ user.username }}"
                      >Seleccionar</button>
                  </form>
              {% else %}
                  <form class="eleccion" method="post" action="/aparcamientos">
                      <button type="submit" name="desmarcar"
                      value="{{ aparcamiento.idEntidad }},{{ user.username }}"
                      >Dejar de seleccionar</button>
                  </form>
              {% endif %}
          {% endif %}
      {% endfor %}
    </div>
  </div>

  <div id="secondarycontent">
    <div class="box">
      <h2>Filtrar aparcamientos por distrito:</h2>
      <form method="post" action="/aparcamientos">
          <select name="opciones">
              {% for distrito in lista_distritos %}
                  {% if distrito == "" %}
                      <option value="">No especificado</option>
                  {% else %}
                      <option value="{{ distrito }}">{{ distrito }}</option>
                  {% endif %}
              {% endfor %}
                  <option value="Todos" selected>Todos</option>
          </select>
          <input type="submit" name="filtro" value="Filtar">
      </form>
      <hr />

      {% if distrito == "" %}
          <h2>Listado de aparcamientos de: (No especificado)</h2>
      {% else %}
          <h2>Listado de aparcamientos de: ({{ distrito }})</h2>
      {% endif %}
    </div>
  </div>


{% endblock %}
