{% extends "index.html" %}


{% block menu %}
<ul>
   <a href="/aparcamientos"><li> Todos </li></a>
   <a href="/about"><li> About </li></a>
   <a href="/{{user.username}}"><li>Página personal</li></a>
   <a href="/{{user.username}}/xml"><li>XML usuario</li></a>
</ul>
{% endblock %}

{% block contenido %}

   <div id="primarycontainer">
      <br/><h3><center><em><u>Aparcamientos mas populares</u></em></center></h3><br/>
      <br/><br/>
      <div id="primarycontent">
         {% for nombre, megustas, idEntidad in lista %}
            <div class="post">
               <p><b><u>{{nombre}}</u></b></p>
               <p>Likes:{{megustas}}</p>
               <div class="contentarea">
                  <ul class="controls">
                  <li><a href="/aparcamientos/{{idEntidad}}" class="more">Leer más</a></li>
                  </ul>
               </div>
            </div>
         <div class="divider2"></div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
